
@page
@model IllegalModel
@{
    ViewData["Title"] = "Illegal";
}

<div class="text-center">
    <h1 class="display-4">Unavailable for Legal Reasons</h1>
    <p>You have requested a resource that cannot legally be provided, as it is censored by your government.</p>
</div>
