@page
@model SlowModel
@{
    ViewData["Title"] = "Slow page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DevSecOps</h1>
    <p>This is a slow page. It took @Model.LoadTime ms to load.</p>
</div>
